body {
  font-family: 'Josefin Sans';
  background-color: #FFFAFB;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

}

::-webkit-scrollbar {
  width: 0px;
}

.hero-banner-img {
  position: absolute;
  right: 40px;
  top: 0px;
  width: 700px;
  height: 900px;
  margin-top: -330px;
}

.bodyPart-card:hover {
  transform: scale(1.1, 1.01);
  transition: 0.3s all ease-in-out;
}

.left-arrow {
  cursor: pointer;
}

.right-arrow {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FF2625;
  font-size: 25px;
  border-radius: 4px;
  position: absolute;
  bottom: -20px;
  left: 20px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

@media screen and (max-width:968px) {
  .hero-banner-img {
    display: none;
  }
}
